<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
</head>
<body>
  <div class="container-scroller">
    
   {% include 'header.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      {% include 'sidebar.html' %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <center style="padding-top: 20%;">
               <b>coming soon</b>
            </center>
          </div>
          

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  {% include 'scripts.html' %}
</body>

</html>

