<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <div class="container-scroller">

        {% include 'header.html' %}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            {% include 'sidebar.html' %}

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="me-md-3 me-xl-5">
                                        <h4>My Resume</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">WORK EXPERIENCE</h4>
                                    <form method="post" class="form-sample">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Designation</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" value="{{main_workexperience_data.designation}}" name="desi[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Company</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" value="{{main_workexperience_data.company}}" name="company[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Start date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" value="{{main_workexperience_data.start_date }}" name="sdate[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">For End date</label>
                                                    <div class="col-sm-9" style="padding-top: 3%;">
                                                        {% if main_workexperience_data.end_date == "" %}
                                                        <label class="form-check-label"><input type="radio"  onchange="checkenddate(this)" class="form-check-input checkenddate" value="N" name="gender[]"/> Current&nbsp;&nbsp;</label>
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="Y" name="gender[]"/> Select date&nbsp;&nbsp;</label>
                                                    
                                                        {% else %}
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="N" name="gender[]"/> Current&nbsp;&nbsp;</label>
                                                        <label class="form-check-label"><input type="radio" checked onchange="checkenddate(this)" class="form-check-input checkenddate" value="Y" name="gender[]"/> Select date&nbsp;&nbsp;</label>
                                                    
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if main_workexperience_data.end_date == "" %}
                                            <div class="col-md-4" id="enddate" style="display:none;">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" value="{{main_workexperience_data.end_date }}" name="edate[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-md-4" id="enddate" style="display:block;">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" value="{{main_workexperience_data.end_date }}" name="edate[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Description</label>
                                                    <div class="col-sm-9">
                                                        <textarea name="desc[]" class="form-control">{{main_workexperience_data.description}}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <a class="col-sm-12 btn btn-info" id="rowAdder" href="#">Add
                                                        More</a>
                                                </div>
                                            </div>
                                            <center><hr></center>
                                        </div>
                                        <div id="newinput"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <button type="submit" class="col-sm-3 btn btn-primary">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">EDUCATION</h4>
                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Degree</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="degree[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">college</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="college[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Start date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="sdatee[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">For End date</label>
                                                    <div class="col-sm-9" style="padding-top: 3%;">
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="N" name="gender[]"/> Current&nbsp;&nbsp;</label>
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="Y" name="gender[]"/> Select date&nbsp;&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" id="enddate" style="display:none;">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="edatee[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Description</label>
                                                    <div class="col-sm-9">
                                                        <textarea name="desce[]" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <a class="col-sm-12 btn btn-info" id="rowAdder1" href="#">Add
                                                        More</a>
                                                </div>
                                            </div>
                                            <center><hr></center>
                                        </div>
                                        <div id="newinput1"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <button type="submit" class="col-sm-3 btn btn-primary">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                {% include 'footer.html' %}
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {% include 'scripts.html' %}

    <script type="text/javascript">

        $("#rowAdder").click(function () {
            newRowAdd = `
            <div id="row" >
            <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Designation</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="desi[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Company</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="company[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Start date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="sdate[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">For End date</label>
                                                    <div class="col-sm-9" style="padding-top: 3%;">
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)"  class="form-check-input checkenddate" value="N" name="gender[]"/> Current&nbsp;&nbsp;</label>
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)"  class="form-check-input checkenddate" value="Y" name="gender[]"/> Select date&nbsp;&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" id="enddate" style="display:none;">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="edate[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Description</label>
                                                    <div class="col-sm-9">
                                                        <textarea name="desc[]" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <button class="btn btn-danger"
                                            id="DeleteRow" type="button">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                                </div>
                                            </div>
                                            <center><hr></center>
                                        </div> </div>`;

            $('#newinput').append(newRowAdd);
        });
        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
       
       
        $("#rowAdder1").click(function () {
            newRowAdd = `
            <div id="row1">
                <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Degree</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="degree[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">college</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="college[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Start date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="sdatee[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">For End date</label>
                                                    <div class="col-sm-9" style="padding-top: 3%;">
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="N" name="gender[]"/> Current&nbsp;&nbsp;</label>
                                                        <label class="form-check-label"><input type="radio" onchange="checkenddate(this)" class="form-check-input checkenddate" value="Y" name="gender[]"/> Select date&nbsp;&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" id="enddate" style="display:none;">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="month" name="edatee[]" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Description</label>
                                                    <div class="col-sm-9">
                                                        <textarea name="desce[]" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <button class="btn btn-danger"
                                            id="DeleteRow1" type="button">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                                </div>
                                            </div>
                                            <center><hr></center>
                                        </div>
        </div>`;

            $('#newinput1').append(newRowAdd);
        });
        $("body").on("click", "#DeleteRow1", function () {
            $(this).parents("#row1").remove();
        })
       

        function checkenddate(e){
                
                if(e.value ==="Y"){
                        $(e).parents(".row").children("#enddate").css("display","block")
                    }
                    else{
                        // $("#enddate").css("display","none")
                        // $(e).parents(".row").children("#enddate")
                        $(e).parents(".row").children("#enddate").css("display","none")
                        
                    }
            }
    </script>

</body>

</html>